@using MudBlazor

<h1>Kinkysh</h1>

<ul>
    <li class="nav-item">
        <a class="nav-link" href="/">Kinkysh</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Explore">Explore</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ route('admin.products') }}">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ route('admin.orders') }}">Community</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ route('admin.categories') }}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/SignUp">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ route('admin.categories') }}">
            <MudIcon Icon="@Icons.Material.Outlined.Person" Color="Color.Default" />
        </a>
    </li>
</ul>