/* _content/Kinkysh/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-2tn7ho5ed9] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-2tn7ho5ed9] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Kinkysh/Components/Layout/NavMenu.razor.rz.scp.css */
/* _content/Kinkysh/Components/Pages/Explore.razor.rz.scp.css */
/* _content/Kinkysh/Components/Pages/Home.razor.rz.scp.css */
html[b-ev01g9jocy], body.home-body[b-ev01g9jocy] {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(283deg, rgba(2,0,36,1) 0%, rgba(64,22,138,1) 100%, rgba(0,212,255,1) 100%);
    color: white !important;
    width: 100%;
    height: 100vh;
}
