<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    </div>
</div>

<body>
<header>
    <nav>
        <ul class="nav-list">
            <li><MudLink Href="#home">Kinkysh</MudLink></li>
            <li><MudLink Href="/explore">Explore</MudLink></li>
            <li><MudLink Href="#services">News</MudLink></li>
            <li><MudLink Href="#contact">Community</MudLink></li>
            <li><MudLink Href="#contact">About</MudLink></li>
            <li><MudLink Href="/signup">Sign Up</MudLink></li>
        </ul>
        <MudLink Href="/my-profile"><MudIcon Class="person-icon" Icon="@Icons.Material.Filled.Person"></MudIcon></MudLink>
    </nav>
</header>
</body>