@page "/Explore"
@using MudBlazor

<body class="body-explore">
<div class="explore-kinkers">
    
<MudButton Variant="Variant.Outlined" Class="explore-filter-btn">FILTER</MudButton>
    <div class="explore-kinkers-img">
        <MudCard Class="explore-kinkers-card">
            <MudCardContent>
                <div class="explore-kinker-single">
                    <img src="assets/woman1.jpg"/>
                    <p><b>Aaliyah, 21</b><br/>Berlin</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="explore-kinkers-card">
            <MudCardContent>
                <div class="explore-kinker-single">
                    <img src="assets/woman2.jpeg"/>
                    <p><b>Melina, 25</b><br/>Frankfurt</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="explore-kinkers-card">
            <MudCardContent>
                <div class="explore-kinker-single">
                    <img src="assets/woman3.jpeg"/>
                    <p><b>Sasha, 30</b><br/>Köln</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="explore-kinkers-card">
            <MudCardContent>
                <div class="explore-kinker-single">
                    <img src="assets/explore/woman-exp-1.jpg"/>
                    <p><b>Michelle, 24</b><br/>Berlin</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="explore-kinkers-card">
            <MudCardContent>
                <div class="explore-kinker-single">
                    <img src="assets/explore/woman-exp-2.jpg"/>
                    <p><b>Naila, 27</b><br/>Frankfurt</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="explore-kinkers-card">
            <MudCardContent>
                <div class="explore-kinker-single">
                    <img src="assets/explore/woman-exp-3.jpg"/>
                    <p><b>Melanie, 23</b><br/>Köln</p>
                </div>
            </MudCardContent>
        </MudCard>
    </div>
</div>
</body>