html, body.home-body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(283deg, rgba(2,0,36,1) 0%, rgba(64,22,138,1) 100%, rgba(0,212,255,1) 100%);
    color: white !important;
    width: 100%;
    height: 100vh;
}
