@page "/"
@using MudBlazor

<PageTitle>Kinkysh</PageTitle>

<body class="home-body">

<div class="home-top">
    <div class="home-text-div">
        <p class="home-intro-text animate__animated animate__fadeInLeft">
            A Place for your Kinks come true
            <br/>
        </p>
    </div>
    <div class="animate__animated animate__fadeIn">
        <img src="assets/woman-main.png" class="home-main-img" alt=""/>
    </div>
</div>

<div class="home-latest-kinkers">
    <p>Our latest Kinkers</p>
    <div class="home-latest-kinkers-img">
        <MudCard Class="home-latest-kinkers-card">
            <MudCardContent>
                <div class="home-latest-kinker-single">
                    <img src="assets/woman1.jpg"/>
                    <p><b>Aaliyah, 21</b><br/>Berlin</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="home-latest-kinkers-card">
            <MudCardContent>
                <div class="home-latest-kinker-single">
                    <img src="assets/woman2.jpeg"/>
                    <p><b>Melina, 25</b><br/>Frankfurt</p>
                </div>
            </MudCardContent>
        </MudCard>
        <MudCard Class="home-latest-kinkers-card">
            <MudCardContent>
                <div class="home-latest-kinker-single">
                    <img src="assets/woman3.jpeg"/>
                    <p><b>Sasha, 30</b><br/>Köln</p>
                </div>
            </MudCardContent>
        </MudCard>
    </div>
</div>

</body>