@page "/SignUp"
@using MudBlazor

<body class="body-signup">
    <div class="signup-main-div">
        <p>Join our Community</p>
    </div>
    <div class="register-signup-div">
        <div Class="register-signup-card">
            <MudForm>
                <MudTextField Class="register-input-field" T="string" Label="E-Mail"></MudTextField>
                <MudTextField Class="register-input-field" T="string" Label="Firstname"></MudTextField>
                <MudTextField Class="register-input-field" T="string" Label="Lastname"></MudTextField>
                <MudTextField Class="register-input-field" T="string" Label="Password"></MudTextField>
            </MudForm>
        </div>
    </div>
</body>