<!DOCTYPE html>
<html lang="en">

<head title="Kinkysh">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="Kinkysh.styles.css"/>
    <link rel="stylesheet" href="animate.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="mudblazor.css"/>
    <link rel="stylesheet" href="mudblazor.js"/>
    <link rel="stylesheet" href="pages/explore.css"/>
    <link rel="stylesheet" href="pages/signup.css"/>
    <link rel="stylesheet" href="app.css"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>