html, body.body-signup {
    background-color: #191922 !important;
}

.signup-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.signup-main-div > p {
    font-size: 3rem;
    font-weight: bold;
}

.register-signup-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.register-signup-card {
    margin: 2%;
    padding: 2%;
    width: 600px;
    background-color: #191922;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.register-input-field {
    padding: 2%;
}